header {
    background: none repeat scroll 0 0 #4A4A4A;
    color: #4A4A4A;
    font-size: 18px;
    padding: 0px 0px;
    text-align: left;
}

footer {
    background: none repeat scroll 0 0 #4A4A4A;
    color: #4A4A4A;
    font-size: 18px;
    padding: 0px 0px;
    text-align: left;
}

section {
    width: 100%;
    margin: auto;
}

body {background-color: #4A4A4A;}

a { color: darkorange }

input, textarea {
    width: 100%;
    background-color: gainsboro;
}

/* Generated Table CSS */

table.MainTable {
    border: 2px solid #000000;
    background-color: #4A4A4A;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.MainTable td, table.MainTable th {
    border: 1px solid #000000;
    padding: 4px 10px;
}
table.MainTable tbody td {
    font-size: 15px;
    color: #E6E6E6;
}
table.MainTable thead {
    background: #000000;
}
table.MainTable thead th {
    font-size: 18px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: left;
    border-left: 0px solid #4A4A4A;
}
table.MainTable thead th:first-child {
    border-left: none;
}

table.MainTable tfoot td {
    font-size: 12px;
}

/* Generated Button CSS */

.button {
    -moz-box-shadow:inset 0px 30px 0px -15px #b54b3a;
    -webkit-box-shadow:inset 0px 30px 0px -15px #b54b3a;
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
    background-color:#a73f2d;
    border:1px solid #241d13;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 20px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
}
.button:hover {
    background-color:#b34332;
}
.button:active {
    position:relative;
    top:1px;
}
